@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
 ViewBag.Title = "Catalog";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="btn btn-outline-dark" href="Home/FolderPage/Creating Digital Images">Click to see folders &raquo;</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
